@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
   <div class="text-center" style=" margin: 0px 0px 14px;">
  <img src="~/Img/img1.jpeg" class="rounded" alt="..." style="width:200px; height: 200px;">
</div>
</div>
